body{
    background-color: aliceblue;
}
#input{
    border-radius: 30px;
    font-size: 40px;
    font-family: "Comic Sans MS";
    text-align: center;

}
#input:focus{
    outline: none;
}
#Buttons{
    text-align: right;
}
.ButtonStyle{
    font-size: 35px;
    margin-left: 15px ;
    background-color: navy;
    color: gold;


}

.list{
    list-style-type: none;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    //padding: 0;
}
.item{

    width: 400px;
    font-size: 30px;
    display: block;
    font-family: "Comic Sans MS";
    font-style:italic;
    background-image: url("images/3.jpg");
    color: ghostwhite;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    text-align: center;
    position: relative;

}
.item:hover{
    margin-left: 65px;
    cursor: pointer;
}


#List input{
    float: left;
    margin-right: 20px;
}
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 35px;
    height: 35px;
    margin-top: 4px;
    display: block;
}
.image{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 10px;

}
#editBox{
    width: 600px;
    height: 50px;

    float: right;

}
.editButton{
    height: 50px;
    width: 200px;
    background-color: lawngreen;
    font-family: "Comic Sans MS";
    font-size: 20px;
}
